/* Chart */
svg {
    font: 10px sans-serif;
    fill: #c71690;
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #bdc3c7;
    shape-rendering: crispEdges;
}